<!DOCTYPE html>
<html>

<body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

  <div id="app">
    <h1>Modifica un elemento</h1>

    <label>id da modificare:</label>
    <input type="text" v-model="id" placeholder="id"><br><br>
    <label>nuovo name:</label>
    <input type="text" v-model="name" placeholder="nome"><br><br>
    <label>nuovo prezzo:</label>
    <input type="text" v-model="prezzo" placeholder="prezzo"><br><br>
    <button type="button" @click="loadDoc">Modifica</button>

    <p>
      <button type="button" onclick="window.location.href='/main';">indrio</button>
    </p>

    {{ res }}
  </div>

  <script>
    let id = null
    let name = null
    let prezzo = null

    var app = new Vue({
      el: '#app',
      data: {
        res: null
      },
      methods: {
        loadDoc: async function () {
          let response = await axios.put('/prodotto/edit/' + id, null, {
            params: {
              name,
              prezzo
            }
          })

          this.res = response.data;
        }
      }
    })
  </script>
</body>

</html>