
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <h1>{{ prova[0] }}</h1>
        <h1>{{ prova[1] }}</h1>
        <button @click="reverseMessage">Reverse Message</button>
        <li v-for="todo in todos">
            <h1>{{todo.id}}</h1>
            ha id {{todo.text}}
        </li> 
        <table >
            <tr v-for="todo in todos">
                <td>{{todo.text}}</td><td>{{todo.id}}</td>
            </tr>
        </table>
    </div>
</body>



<script>

    var app = new Vue({
    el: '#app',
    data: {
        message:'prova',
        prova:[0,1,5],
        todos:[{id:"pere",text:5},{id:"mele",text:10}],
        utente:null,
        datiOttenuti:null,
        id_shop:null,
        idallergene:null,
        dati:null,
        header:{
            headers: { 'content-type': 'application/json' ,'authorization':null}
        }
    },
    methods: {
        reverseMessage: function () {
            this.message = this.message.split('').reverse().join('')
        },
        tuttidatiutete: async function(){
            return axios('https://api.vetrineonline.com/model/shop/136');
        },     
        main: async function(){
            this.utente=await this.tuttidatiutete()
            this.todos=[
                { id:10, text: 'Learn JavaScript' },
                { id:50, text: 'Learn Vue' },
                { id:60, text: 'Build something awesome' }
            ]
        }
    },
    mounted(){
        this.id_shop=136
        //params.query.id
        this.header.headers.authorizaion=this.id_shop
        this.main()
    } 
    })
</script>